.topMenu
    display: flex
    align-items: center
    justify-content: space-between
    padding: 30px
    
    h1
        font-family: 'Gowun Batang', serif

    .changeList
        justify-content: space-around
        .saveProduct
            font-family: 'Gowun Batang', serif
            font-size: 16px
            width: 100px
            height: 30px
            background-color: #00ff00
            cursor: pointer
            border-radius: 10px

        .cancelEdit
            font-family: 'Gowun Batang', serif
            font-size: 16px
            width: 200px
            height: 30px
            background-color: #FAA0A0
            cursor: pointer
            border-radius: 10px

hr
    margin: 10px 40px
    border-width: 1px
    border-color: #000

.productsForm
    padding: 0 40px
    width: 40%

    .formProduct
        label
            margin-right: 20px
        font-family: 'Gowun Batang', serif;
        font-size: 24px

        input
            font-family: 'Gowun Batang', serif;
            font-size: 24px
            height: 24px
        select
            font-family: 'Gowun Batang', serif;
            font-size: 24px