.topMenu
    display: flex
    align-items: center
    justify-content: space-between
    padding: 30px

    h1
        font-family: 'Gowun Batang', serif

    .changeList
        justify-content: space-around
        .addProduct
            font-family: 'Gowun Batang', serif
            width: 100px
            height: 30px
            background-color: #00ff00
            cursor: pointer
            border-radius: 10px

        .massDelete
            font-family: 'Gowun Batang', serif
            width: 200px
            height: 30px
            background-color: #FAA0A0
            cursor: pointer
            border-radius: 10px

hr
    margin: 0 40px
    border-width: 1px
    border-color: #000

.productList
    padding: 0 40px
    margin-top: 10px
    display: flex
    flex-wrap: wrap
    width: 100%
    height: 70%

    .itemInfo
        width: 300px
        height: 150px
        padding: 5px
        margin-right: 5px
        margin-top: 5px
        
        border: solid        
        border-radius: 10px

        .productInfo
            ul
                padding: 0
            li
                font-family: 'Gowun Batang', serif
                text-align: center
                list-style-type: none


       
